.GUNS__71-e7e80b1c-c93ba8c9-0102ad6c {
  background-color: #111111;
  padding: 25px;
  border-radius: 15px
}

.GUNS__75-1e5e3ba9-23785900-9fa35530 h1,
.GUNS__75-1e5e3ba9-23785900-9fa35530 h3 {
  margin: 0;
  display: flex;
  align-items: center
}

.GUNS__75-1e5e3ba9-23785900-9fa35530 h1 {
  font-size: 23px;
  color: #e7e7e7;
  font-weight: 550
}

.GUNS__75-1e5e3ba9-23785900-9fa35530 h1 svg {
  margin-right: 6px;
  font-size: 25px;
  min-width: 25px
}

.GUNS__75-1e5e3ba9-23785900-9fa35530 h3 {
  margin-top: 4px;
  font-size: 15.5px;
  color: #838383;
  font-weight: 500
}

.GUNS__aa-8a822326-4bee7be3-999b2568 {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  row-gap: 12px
}

.GUNS__e3-6e7b4cbb-160a195b-071bb07c {
  cursor: pointer;
  transition: .15s
}

.GUNS__e3-6e7b4cbb-160a195b-071bb07c:active {
  transform: translateY(-4px) scale(1.05)
}

.GUNS__e3-6e7b4cbb-160a195b-071bb07c svg {
  padding: 13px;
  font-size: 32px;
  background-color: #151515;
  border: 2px solid #191919;
  border-radius: 20px;
  transition: .2s
}

.GUNS__e3-6e7b4cbb-160a195b-071bb07c svg:hover {
  border: 2px solid #242424
}

.GUNS__14-19f89e98-c8a618a2-d86e96b0 svg,
.GUNS__92-96653b7f-919ee385-5199a237,
.GUNS__c3-ffe9dfa0-ce550a60-f1ae7ddf svg {
  color: #ff0000 !important
}

.GUNS__6a-bb6ef454-abff9b72-a800f88d,
.GUNS__7b-b0935589-fd7a778f-444cbb11 svg,
.GUNS__b9-119517c0-3f1228e5-b4ff632c svg {
  color: #5865f2 !important
}

.GUNS__22-9629cbab-7c74b07f-6d99831f svg,
.GUNS__22-e09d06d2-69e19ae7-95025abf svg,
.GUNS__b5-ae57c465-26f63068-e4577b21 {
  color: #1ed760 !important
}

.GUNS__1d-cccfd53c-90d7ae73-f50ffaba svg,
.GUNS__8e-8c14523f-c9c8d3cd-2809c927,
.GUNS__b6-1cfb338f-5697fa01-17ce85f0 svg {
  color: #d62976 !important
}

.GUNS__22-1640fa87-5dcc0d76-5b718503 svg,
.GUNS__7b-7f15cfb4-7a9e19d9-6e4d1d9c,
.GUNS__92-ca0b009e-38870488-e0dcc9ee svg {
  color: #292929 !important
}

.GUNS__a4-15b494fe-867c986f-8110d9e3,
.GUNS__b8-cd7cab2d-004a18d0-dadec638 svg,
.GUNS__b9-15a7d93b-577e2507-7536222c svg {
  color: #FFDD00 !important
}

.GUNS__51-d5dcd9a3-df01ec9f-55eb419d svg {
  border-radius: 5px !important
}

.GUNS__32-f88ceb4c-46b7d0e2-2cad26fc,
.GUNS__51-d5dcd9a3-df01ec9f-55eb419d svg,
.GUNS__71-c04cacd5-316120a9-13923ac4 svg {
  color: #080808 !important
}

.GUNS__49-93a37edc-6a5cbd0f-a671336a svg,
.GUNS__76-7e0ac739-3e5df795-7e6c4796 svg,
.GUNS__de-429d34f5-a2e66deb-6a7953f5 {
  color: #fafafa !important
}

.GUNS__5a-383fc7a5-963e12b2-b5b531df svg,
.GUNS__ec-caa84e4d-ce11a47d-4c7845d3,
.GUNS__fd-13f45a56-4a72f285-de0499a9 svg {
  color: #00AEEF !important
}

.GUNS__0a-433082b0-2f179a7f-b48e6692 svg,
.GUNS__5c-6ce07335-0de1a529-225a62bc svg,
.GUNS__91-9a50ba5a-d2413330-c46245dc {
  color: #e0e0e0 !important
}

.GUNS__1c-d77bad14-64d49aab-7a723247 svg,
.GUNS__4f-1860721e-cb4896d2-4a9d5b44,
.GUNS__bf-be94dec0-fe181686-8c85d6ac svg {
  color: #f7f7f7 !important
}

.GUNS__0a-bad90612-325c561f-3eae24ff svg,
.GUNS__0d-f9a9761c-7135cdc9-1c697957,
.GUNS__1e-7c3c5e9f-3191bd20-9cfd6958 svg {
  color: #2aabee !important
}

.GUNS__25-337bcabd-ab483aae-ce8926e8 svg,
.GUNS__97-826c2441-5f78662c-85aab3b8 svg,
.GUNS__f8-c089f2a0-8cc6ef63-bde8d945 {
  color: #ff4700 !important
}

.GUNS__2b-538ec8df-7dcd9ae6-22a5dda6,
.GUNS__9b-51e3b5b6-42a233f1-506c0c0b svg,
.GUNS__ff-d280a0fe-e1c52b88-6cf3f415 svg {
  color: #003087 !important
}

.GUNS__1a-a49d22f2-d96640c7-72b4a751 svg,
.GUNS__44-9ae36e48-19c1400f-216b780c,
.GUNS__70-3b51b6f0-f6a575e8-8b5a3af8 svg {
  color: #fafafa !important
}

.GUNS__6d-99c3d1ce-3f153563-2adf5a33 svg,
.GUNS__7a-2289222f-e2435600-6bc97e21,
.GUNS__e8-86e26ba0-217ea018-69fca4c2 svg {
  color: #97a6b4 !important
}

.GUNS__16-91629aec-86c4c3c8-81f6013c,
.GUNS__7f-34f303ea-ab3f835d-c76990d6 svg,
.GUNS__85-e5e6bc11-7678874e-ec0b0725 svg {
  color: #00c846 !important
}

.GUNS__19-d7fd69af-93febf10-b6205fba svg,
.GUNS__2f-882df1bc-122ce72a-44262ae1,
.GUNS__3a-2865025c-4aac71ea-9c653c35 svg {
  color: #9448ff !important
}

.GUNS__ba-055f6d5e-e241218f-54d737e5,
.GUNS__e4-6d413bef-189a6c00-ee2714c7 svg,
.GUNS__ea-09d344e0-3437664b-064b4cf6 svg {
  color: #fe4000 !important
}

.GUNS__81-65b7d585-116174a8-2081d464 svg,
.GUNS__9b-0006f8e1-6820aecf-536aed8f,
.GUNS__9e-c85c2fbc-002a9e9e-fee3df30 svg {
  color: #FB3F59 !important
}

.GUNS__71-0aa05b07-778813ba-d06ecb9f,
.GUNS__a3-dd7b1d85-a1b4e9f7-8e4cdf47 svg,
.GUNS__ed-08a45ebd-b63ec3f5-82b4c2a4 svg {
  color: #ebebeb !important
}

.GUNS__59-f0d7f715-a3f1b3bc-578ae6c8 svg,
.GUNS__7f-0c226dcb-42575c1e-cf16281b svg,
.GUNS__88-5a70f3ff-af0b238c-34bdbbe8 {
  color: #52fa17 !important
}

.GUNS__87-42aaed5a-fc0a5999-21a765f4,
.GUNS__bf-3eb35a8e-fcc9c961-2bce2b0f svg,
.GUNS__e7-0cf1629f-804be99a-3ca4d342 svg {
  color: #e4001c !important
}

.GUNS__3a-8b41098b-5e1ceee7-e951db21,
.GUNS__9f-de7f3bab-1d715250-c76901fe svg,
.GUNS__e5-b19b920c-0ab8a305-7e391165 svg {
  color: #b90000 !important
}

.GUNS__1a-e2392fe0-e269f505-773742c5 svg,
.GUNS__60-459eae80-bc6549f8-52cb7b47 svg,
.GUNS__a1-e0b890c5-ba422947-4d519765 {
  color: #206be2 !important
}

.GUNS__21-c8f8a8a6-14bb78ac-75a10c32 svg,
.GUNS__5a-bcc8210f-9b481603-b7574214 svg,
.GUNS__9c-2d5b6d3d-9d3bf0e9-d23b9f11 {
  color: #4491DA !important
}

.GUNS__3e-056b94b5-e15b64a2-74fae90b svg,
.GUNS__67-f8ca31d1-edf3c0aa-be71451b,
.GUNS__83-6b59ef5d-c48dfa1d-f4acf9ae svg {
  color: #3B45FD !important
}

.GUNS__5f-21b72532-888d917c-f9b35fb0,
.GUNS__77-2e51def2-74303579-847f39a0 svg,
.GUNS__f5-bd2bc2bf-3e0d482b-f4d5c116 svg {
  color: #0a66c2 !important
}

.GUNS__9c-4bf919ae-7ea58e52-cb82ad92 svg,
.GUNS__c8-f2cb0ddc-b7fa84e5-2d35ca52 svg,
.GUNS__f6-8f4768b1-d1814322-5d674865 {
  color: #FFFC00 !important
}

.GUNS__8c-0a40db54-8079cf87-b1773d6f svg,
.GUNS__c9-30732306-a70db729-654ecf00 svg,
.GUNS__cb-3772cb68-1207964d-549cb598 {
  color: #ef8e19 !important
}

.GUNS__09-7a3ceddc-47b6621b-3f462efc svg,
.GUNS__0f-d522d3db-3f72f471-b7aa1d86 svg,
.GUNS__ce-3b740764-159777c4-054d1074 {
  color: #315d9e !important
}

.GUNS__05-d64462ce-1425bfb3-82a77f53 svg,
.GUNS__51-cfdbead4-490190a6-e7632823 svg,
.GUNS__78-e48a7811-6124aeb4-86e423e3 {
  color: #9945FF !important
}

.GUNS__aa-c6ef0bc0-9f181b16-aacf7382 svg,
.GUNS__ee-b5d04b82-f612dc01-7fac7c5a svg,
.GUNS__ff-2b4f85ab-ae9beeae-7914b73c {
  color: #4b6cb7 !important
}

.GUNS__1a-343e7f88-1b6e9086-da3709ef svg,
.GUNS__7b-78f7f1ec-649c9608-aea54ed6 svg,
.GUNS__b8-36435a89-922f8c48-370da957 {
  color: #686868 !important
}

.GUNS__5f-e999433f-9c10a147-c95c9dae,
.GUNS__a1-edcc8571-6eede896-8556005e svg,
.GUNS__f5-fa564dfd-dcbb0543-a5ca246a svg {
  color: #ea6521 !important
}

.GUNS__10-027fd160-67e6601a-9069faec svg,
.GUNS__3b-9192e536-3cf6342b-ae66e85f,
.GUNS__a1-039ebc37-add112c2-a55c29b4 svg {
  color: #db4128 !important
}

.GUNS__5f-242e5cd0-dc3f3f33-fe59fe70 svg,
.GUNS__66-53cf00f1-e0c5e87c-7d51834f,
.GUNS__95-d533708f-1350aa49-3cfc963d svg {
  color: #FF424E !important
}

.GUNS__2c-f7ca5fd4-0a575eee-6690c83d svg,
.GUNS__42-ff64f408-923a4f9e-c75ff5fb svg,
.GUNS__4e-196de4af-3dd634b7-2b98377f {
  color: #FFFFFF !important
}

.GUNS__76-d755340e-5839c353-56cf3994,
.GUNS__87-94429e1f-5ce2063e-8450d02c svg,
.GUNS__e1-383935f2-029a8091-d9429485 svg {
  color: #0076FE !important
}

.GUNS__3e-be759fd5-da6519ee-69bccba8,
.GUNS__b9-ab31c494-81d0de43-e61d5778 svg,
.GUNS__ed-abf10c0f-d8562373-df63c3ff svg {
  color: #008CFF !important
}

.GUNS__9b-57083eeb-d5082eb9-5a22b789 svg,
.GUNS__bf-051199a3-647c7c9c-e8fcdc40,
.GUNS__ca-fbc69f18-f94c2ea8-8e28d706 svg {
  color: #006FCD !important
}

.GUNS__54-8f2b3d8a-04ae8755-62a4eb35,
.GUNS__68-4811c0ff-f8df7e99-fc82fbe7 svg,
.GUNS__9d-5e3c160c-d4c4ac36-b4534c60 svg {
  color: #107C10 !important
}

.GUNS__4b-2d79a16f-93dc12dc-ce7aa569 svg,
.GUNS__9e-4f553fd4-fa6708b9-6a0c398d,
.GUNS__a7-cf423901-a00d2b7b-5ba1c7b0 svg {
  color: #ff6f2d !important
}

.GUNS__42-d1a80f8d-f4e57ec8-414d441d,
.GUNS__49-c4f80e8f-8977927a-36c44871 svg,
.GUNS__52-6fb9d374-af46c150-8977919f svg {
  color: #1185fe !important
}

.GUNS__15-8ff57f3b-478adf24-b6adf674,
.GUNS__5a-d2b669f7-1a60f9c9-0c3c7019 svg,
.GUNS__c7-9f6d43e2-16c702a6-6454ab3a svg {
  color: #a3a3a3 !important
}

.GUNS__c7-9f6d43e2-16c702a6-6454ab3a {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.GUNS__56-7557507a-1d840129-f07fef0a {
  margin-top: 5px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: .8rem
}

.GUNS__38-3d56fae2-78e5cf9c-833a263d {
  margin-top: 40px
}

.GUNS__38-3d56fae2-78e5cf9c-833a263d>span:first-child {
  display: flex;
  align-items: center;
  border: 2px solid #202020;
  background-color: #181818;
  color: #fafafafa;
  width: fit-content;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  margin-left: 2px;
  border-radius: 15px;
  font-size: 16px;
  transition: .25s
}

.GUNS__38-3d56fae2-78e5cf9c-833a263d span svg {
  margin-right: 4px;
  font-size: 21.5px
}

.GUNS__a5-a2139629-432fc4eb-e5e768cb {
  padding: 15px;
  border-radius: 15px;
  background-color: #111111;
  border: 2px solid #141414;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  direction: ltr
}

.GUNS__a5-a2139629-432fc4eb-e5e768cb span {
  display: flex;
  align-items: center;
  z-index: 1
}

.GUNS__66-38aac2f5-4566dbc5-42752d42 {
  display: flex;
  position: absolute;
  top: 9.5px;
  right: 12.5px;
  gap: 2.5px;
  z-index: 99
}

.GUNS__16-0dcd8684-6a385b0f-e5836653 svg,
.GUNS__b2-afd406a2-ff23af21-bfc8789a svg,
.GUNS__c2-77d128d8-d81006ba-990f4bef svg {
  background-color: #fafafa0a;
  border-radius: 9px;
  font-size: 19px !important;
  cursor: pointer;
  transition: .35s
}

.GUNS__16-0dcd8684-6a385b0f-e5836653 svg:hover,
.GUNS__b2-afd406a2-ff23af21-bfc8789a svg:hover,
.GUNS__c2-77d128d8-d81006ba-990f4bef svg:hover {
  transform: scale(1.15)
}

.GUNS__b2-afd406a2-ff23af21-bfc8789a svg {
  padding: 3px;
  color: #636363fa
}

.GUNS__16-0dcd8684-6a385b0f-e5836653 svg {
  padding: 3px;
  color: #c42626fa
}

.GUNS__c2-77d128d8-d81006ba-990f4bef svg {
  padding: 3px;
  color: #636363fa
}

.GUNS__b1-3d454367-c79fd8a2-8aa3db81 {
  opacity: .5;
  filter: grayscale(.75) saturate(1)
}

.GUNS__69-320cfbb3-c101b3c8-04be705f {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  left: 0 !important
}

.GUNS__69-320cfbb3-c101b3c8-04be705f svg {
  font-size: 35px
}

.GUNS__85-7595056a-b2518c52-c7fcd600 {
  margin-top: 25px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  gap: 8px
}

.GUNS__85-7595056a-b2518c52-c7fcd600 a {
  text-decoration: none;
  font-size: 14.5px;
  color: #999999
}

.GUNS__88-f68b1c85-623d889e-49022477 {
  height: 25px;
  background-color: #202020;
  border: 2px solid #272727;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: .25s;
  display: flex;
  align-items: center;
  gap: 7px
}

.GUNS__88-f68b1c85-623d889e-49022477 svg {
  width: 23px
}

.GUNS__88-f68b1c85-623d889e-49022477:active {
  transform: translateY(3px)
}

.GUNS__0a-bf53357a-80abc0ba-3289937d {
  font-size: 20px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  color: #838383;
  font-weight: 500
}

.GUNS__0a-bf53357a-80abc0ba-3289937d svg {
  margin-bottom: 7px;
  font-size: 3.5em;
  color: #999999
}

.GUNS__aa-7c4b7c52-9770a26b-aa1b17ba {
  background-color: #0f0f0f;
  border: 2px solid #181818;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none
}

.GUNS__e4-1a5cc80f-3591376b-ef7c7a54 {
  padding: 0 5px
}

.GUNS__e4-1a5cc80f-3591376b-ef7c7a54 h1 {
  font-size: 14.5px;
  color: #797979;
  font-weight: 450;
  margin: 2px 0 0
}

.GUNS__e4-1a5cc80f-3591376b-ef7c7a54 svg {
  font-size: 42px;
  color: #fafafafa !important
}

.GUNS__a0-e6d58db5-7b372854-5450d682 h1 {
  margin: 2px 0 0;
  font-size: 15.5px;
  color: #a8a8a8
}

.GUNS__aa-7c4b7c52-9770a26b-aa1b17ba input[type=file] {
  opacity: 0;
  cursor: pointer
}

.GUNS__28-84ee9385-a3a3a345-26f279c6,
.GUNS__aa-7c4b7c52-9770a26b-aa1b17ba input[type=file] {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  object-fit: cover
}

.GUNS__3e-6195c9e6-87074408-143abdb4 {
  font-size: 16px;
  font-weight: 500;
  color: #dddddd;
  margin: 0 0 5.5px 3px
}

.GUNS__de-68d285d1-27f133bb-3403a7a3 {
  display: flex;
  flex-direction: column
}

.GUNS__7d-d8a00264-90d0eaf0-80270b5c {
  z-index: 999;
  position: absolute;
  top: 9px;
  right: 11px;
  display: flex;
  gap: 7px
}

.GUNS__7d-d8a00264-90d0eaf0-80270b5c span {
  background-color: #18181875;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  font-size: 13px;
  display: flex;
  padding: 5px;
  align-items: center;
  transition: .35s
}

.GUNS__7d-d8a00264-90d0eaf0-80270b5c span:first-child {
  padding: 7px 10px !important
}

.GUNS__7d-d8a00264-90d0eaf0-80270b5c span:nth-child(2) {
  cursor: pointer
}

.GUNS__7d-d8a00264-90d0eaf0-80270b5c span:nth-child(2):hover {
  background-color: #181818d8
}

.GUNS__7d-d8a00264-90d0eaf0-80270b5c span svg {
  font-size: 22px;
  color: rgb(241, 46, 46) !important
}

.GUNS__99-a854f5b3-b9400217-816f80fc {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  border-left: 2px solid #191919;
  padding-left: 2px;
  gap: 2px;
  border-radius: 15px
}

.GUNS__c5-864297b1-d065e90f-b2df1e11 svg {
  color: #656565
}

.GUNS__c5-864297b1-d065e90f-b2df1e11 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  touch-action: none
}

.GUNS__bb-986c2c5b-26372320-1ae3ecb2 {
  margin-top: 6px;
  gap: 10px;
  padding: 6px;
  background-color: #1b1b1b;
  border: 2px solid #212121;
  border-radius: 25px
}

.GUNS__bb-986c2c5b-26372320-1ae3ecb2,
.GUNS__bb-986c2c5b-26372320-1ae3ecb2 span {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: center
}

.GUNS__bb-986c2c5b-26372320-1ae3ecb2 span {
  font-size: 14.5px;
  color: #b9b9b9;
  gap: 3px;
  padding: 5px 0;
  border: 2px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: .2s
}

.GUNS__bb-986c2c5b-26372320-1ae3ecb2 span svg {
  font-size: 19px;
  color: #b9b9b9 !important
}

.GUNS__38-4c3cfe5d-f2f7286e-2b19ebe7 {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px
}

.GUNS__bb-986c2c5b-26372320-1ae3ecb2 span.GUNS__a4-0291bf80-670e57cc-a3eb54a6 {
  color: #fafafa;
  background-color: #272727;
  border: 2px solid #2e2e2e
}

@media (max-width:420px) {
  .GUNS__56-7557507a-1d840129-f07fef0a {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  }
}

.GUNS__b3-1a149972-697a4c08-cc5a351e {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  padding: 2px 15px
}

.GUNS__b3-1a149972-697a4c08-cc5a351e h1 {
  font-size: 15.5px;
  color: #e7e7e7;
  font-weight: 500;
  margin: 0;
  text-align: left;
  width: 100%
}

.GUNS__b3-1a149972-697a4c08-cc5a351e h3 {
  font-size: 14px;
  color: #838383;
  font-weight: 450;
  margin: 0;
  text-align: left
}

.GUNS__71-d2a26ca2-e880a6c1-cf9d07d0 {
  display: flex;
  align-items: center;
  background-color: #131313;
  border: 2px solid #191919;
  border-radius: 22px
}

.GUNS__71-d2a26ca2-e880a6c1-cf9d07d0 svg {
  border: none !important;
  min-width: 33px
}