.GUNS__82-9944aebb-faa1cf7f-8cb3a1c6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%
}

.GUNS__d2-2581368c-a25bf1b5-712980df {
  background-color: #101010;
  border: 2px solid #161616;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  margin: 0 10px
}

.GUNS__c7-01c6ede4-66bc0dda-30beb52f {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px
}

.GUNS__c7-01c6ede4-66bc0dda-30beb52f h1 {
  font-size: 22px;
  font-weight: 500;
  color: #fafafa;
  display: flex;
  align-items: center;
  gap: 7px
}

.GUNS__c7-01c6ede4-66bc0dda-30beb52f h3 {
  font-size: 16px;
  font-weight: 450;
  color: #939393
}

.GUNS__c7-01c6ede4-66bc0dda-30beb52f h1,
.GUNS__c7-01c6ede4-66bc0dda-30beb52f h3 {
  margin: 0
}

.GUNS__7b-d02e1a0c-1385f502-c3c73fbe {
  background-color: #7e2c8b63;
  border: 2px solid #7e2c8b7c;
  border-radius: 20px;
  color: #fafafa;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  cursor: pointer;
  transition: .25s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px
}

.GUNS__7b-d02e1a0c-1385f502-c3c73fbe:hover {
  background-color: #7e2c8b76
}

.GUNS__7b-d02e1a0c-1385f502-c3c73fbe:active {
  transform: translateY(4px)
}

.GUNS__7b-d02e1a0c-1385f502-c3c73fbe svg {
  font-size: 25px
}

.GUNS__79-e226d4aa-80307cc0-532539d5 {
  margin-top: 15px;
  background-color: rgba(255, 0, 0, .24);
  border: 2px solid rgba(255, 0, 0, .144);
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  color: #fafafa;
  width: 100%;
  box-sizing: border-box;
  text-align: center
}

.GUNS__d1-14d4d0b2-802260b9-ca7f3f9c {
  border-radius: 50px;
  border: 2px solid #181818;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .25s;
  background-color: #141414
}

.GUNS__22-f7da488e-181024d1-14bd605e,
.GUNS__d1-14d4d0b2-802260b9-ca7f3f9c {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box
}

.GUNS__22-f7da488e-181024d1-14bd605e {
  gap: 7px;
  border: 2px solid transparent;
  padding: 6px 0;
  transition: .2s
}

.GUNS__22-f7da488e-181024d1-14bd605e h1 {
  font-size: 15px;
  font-weight: 500;
  color: #fafafa;
  margin: 0
}

.GUNS__22-f7da488e-181024d1-14bd605e img {
  width: 25px;
  height: 25px
}

.GUNS__22-f7da488e-181024d1-14bd605e.GUNS__5e-924bf5c8-139fae8e-041b93a4 {
  border-radius: 50px;
  border: 2px solid #252525;
  background-color: #202020
}

@media (max-width:515px) {
  .GUNS__d1-14d4d0b2-802260b9-ca7f3f9c {
    border-radius: 25px;
    flex-direction: column
  }
}