.GUNS__16-ffbeffeb-25cb95ae-14022343 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px
}

.GUNS__28-48c01132-c71bc95e-c24b6bfa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 23px
}

.GUNS__29-d52d2531-1642c0e3-4e281de7 {
  background-color: rgba(255, 126, 255, .133);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid rgba(255, 126, 255, .08);
  flex: 1 1;
  min-width: 255px
}

.GUNS__27-c4253c00-060945bd-de7ca3bb {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.GUNS__27-c4253c00-060945bd-de7ca3bb h1 {
  margin: 0;
  font-size: 17px;
  color: #fafafa;
  font-weight: 550
}

.GUNS__27-c4253c00-060945bd-de7ca3bb svg {
  font-size: 25px;
  color: #d4d4d4;
  border-radius: 20px
}

.GUNS__fc-2cce561e-125fac0d-c425669b h1 {
  margin: 0;
  font-size: 26px;
  color: #fafafa;
  font-weight: 700
}

.GUNS__fc-2cce561e-125fac0d-c425669b h3 {
  margin: 0;
  font-size: 15px;
  color: #a1a1a1;
  font-weight: 450
}

.GUNS__23-84f979f0-6d3e3947-7751edf5 {
  background-color: rgba(17, 107, 70, .5);
  border: 2px solid rgba(0, 255, 149, .173);
  color: #18db8a;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block
}

.GUNS__e5-6795e004-1c9b8877-a78c25af {
  background-color: rgba(107, 17, 17, .5);
  border: 2px solid rgba(255, 0, 0, .173);
  color: #ff0055;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block
}

.GUNS__48-ec69a7d2-7a5f5707-9801c156 {
  background-color: #111111;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box
}

.GUNS__48-ec69a7d2-7a5f5707-9801c156 h1 {
  font-size: 17px;
  color: #fafafa;
  margin: 0
}

.GUNS__48-ec69a7d2-7a5f5707-9801c156 h1 span {
  background: linear-gradient(90deg, #d283eb, #e3b5f1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700
}

.GUNS__9c-680b0279-f3b91169-be462484 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  box-sizing: border-box
}

.GUNS__c1-66d1db1d-b10c75a0-4478e250 {
  margin: 0 0 0 5px;
  color: #e9e9e9;
  font-weight: 500;
  font-size: 21px
}

.GUNS__85-0b4efc0b-7fe07641-0697d16b {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #111111;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 330px
}

.GUNS__0c-d794b46e-bc3820c4-90eca180 {
  font-size: 20px;
  margin: 0;
  color: #fafafa;
  font-weight: 550
}

.GUNS__85-0b4efc0b-7fe07641-0697d16b h3 {
  font-size: 15px;
  margin: 3px 0 0;
  color: #9e9e9e;
  font-weight: 470
}

.GUNS__7a-f41b4e6d-cd9d78b1-06b6ba4b {
  display: flex;
  gap: 25px;
  width: 100%;
  box-sizing: border-box
}

.GUNS__6e-e7d66b52-a1b6cc54-453529d9 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  flex: 1 1 auto
}

.GUNS__6e-e7d66b52-a1b6cc54-453529d9 a {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 126, 255, .133);
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgba(255, 126, 255, .08);
  transition: .25s;
  display: flex;
  align-items: center;
  gap: 8px
}

.GUNS__6e-e7d66b52-a1b6cc54-453529d9 a svg {
  font-size: 18px
}

.GUNS__6e-e7d66b52-a1b6cc54-453529d9 a:hover {
  background-color: rgba(255, 126, 255, .2);
  border: 2px solid rgba(255, 126, 255, .2)
}

.GUNS__6e-e7d66b52-a1b6cc54-453529d9 a:active {
  transform: translateY(4px)
}

.GUNS__5e-8534a2b2-e14f8168-14f00acd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  border: 2px dashed rgba(255, 126, 255, .1);
  border-radius: 15px;
  position: relative
}

.GUNS__5e-8534a2b2-e14f8168-14f00acd h1 {
  font-size: 15px;
  color: #adadad;
  border-radius: 15px;
  transition: .25s;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 450
}

.GUNS__5e-8534a2b2-e14f8168-14f00acd h1 svg {
  font-size: 21.5px
}

.GUNS__ea-34b1d217-950a9873-aac8df96 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  box-sizing: border-box
}

.GUNS__40-8f97e4a8-c5ce4d01-e229f344 {
  margin: 0 0 0 5px;
  color: #e9e9e9;
  font-weight: 500;
  font-size: 21px
}

.GUNS__9d-48f31064-956b0061-baf9cccf {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 0 auto;
  margin-top: 9px
}

.GUNS__59-9ab4706b-3fdf301c-21c8ee3d {
  font-size: 16.5px;
  color: #bababa;
  font-weight: 450;
  margin: 0 0 0 4px
}

.GUNS__5e-8534a2b2-e14f8168-14f00acd input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer
}

.GUNS__d1-d3bcec01-c0cae11b-bc839ddb {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.GUNS__83-ed169847-a3694b8a-9d9bb3b1 {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  align-items: center
}

.GUNS__46-c6079ee7-d117f4b7-2e965b6d {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 20px
}

.GUNS__3e-8eb6d584-61922899-2b05afd5 {
  position: relative;
  background-color: #111111;
  border: 2px solid #171717;
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  transition: transform .18s ease, border-color .18s ease, box-shadow .18s ease
}

.GUNS__3e-8eb6d584-61922899-2b05afd5:hover {
  border-color: #202020;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .25)
}

.GUNS__3e-8eb6d584-61922899-2b05afd5 img,
.GUNS__3e-8eb6d584-61922899-2b05afd5 video {
  width: 100%;
  min-height: 170px;
  max-height: 170px;
  object-fit: cover;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px
}

.GUNS__c8-fa7feeff-0362e632-c436651b h1,
.GUNS__c8-fa7feeff-0362e632-c436651b h2,
.GUNS__c8-fa7feeff-0362e632-c436651b h3 {
  margin: 0
}

.GUNS__c8-fa7feeff-0362e632-c436651b {
  text-align: left;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 15px;
  direction: ltr
}

.GUNS__c8-fa7feeff-0362e632-c436651b h1 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.GUNS__c8-fa7feeff-0362e632-c436651b h2 {
  font-size: 15px;
  color: #bbb;
  font-weight: 450
}

.GUNS__8a-d87fc472-8c724161-4919fda6 {
  position: absolute;
  top: 9px;
  right: 10px;
  display: flex;
  gap: 5px
}

.GUNS__8a-d87fc472-8c724161-4919fda6 span {
  background-color: #18181875;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 5px 8px;
  color: #fafafa;
  display: flex;
  align-items: center;
  font-size: 13.7px;
  cursor: pointer
}

.GUNS__46-c6079ee7-d117f4b7-2e965b6d span svg {
  font-size: 18.5px
}

.GUNS__8a-d87fc472-8c724161-4919fda6 span:first-child svg {
  color: #dadada
}

.GUNS__8a-d87fc472-8c724161-4919fda6 span:nth-child(2) svg {
  color: #c12626
}

.GUNS__8a-d87fc472-8c724161-4919fda6 span:first-child,
.GUNS__8a-d87fc472-8c724161-4919fda6 span:nth-child(2) {
  transition: .3s
}

.GUNS__8a-d87fc472-8c724161-4919fda6 span:first-child:hover,
.GUNS__8a-d87fc472-8c724161-4919fda6 span:nth-child(2):hover {
  transform: scale(1.1)
}

.GUNS__46-c6079ee7-d117f4b7-2e965b6d span a {
  display: flex
}

.GUNS__38-fbf03b6a-aa089e81-68f6d8df {
  direction: ltr;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center
}

.GUNS__13-4afb2781-6ee9e06e-98270375 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 450;
  color: #a3a3a3
}

.GUNS__d0-652b700c-2922fa99-2efe75bc {
  margin-top: 10px;
  display: flex;
  gap: 5px
}

.GUNS__d0-652b700c-2922fa99-2efe75bc span {
  padding: 7px;
  border-radius: 15px;
  cursor: pointer;
  height: 37px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center
}

.GUNS__d0-652b700c-2922fa99-2efe75bc span svg {
  font-size: 21px
}

.GUNS__d0-652b700c-2922fa99-2efe75bc span:first-child {
  background-color: rgba(255, 0, 0, .2);
  border: 2px solid rgba(255, 0, 0, .15)
}

.GUNS__d0-652b700c-2922fa99-2efe75bc span:nth-child(2) {
  background-color: rgba(0, 255, 0, .2);
  border: 2px solid rgba(0, 255, 0, .15)
}

.GUNS__2f-fad8bf04-e6ed2ea7-613060fe {
  font-size: 18px;
  font-weight: 450;
  color: #a3a3a3;
  text-align: center
}

.GUNS__1d-5cc4a088-0e9fa6ec-6f729ed6 {
  display: flex;
  gap: 16px;
  flex-direction: column
}

.GUNS__2e-68617b8e-b11ab23f-0c78a438 {
  background: #0d0d0d;
  border: 2px solid #131313;
  border-radius: 30px;
  padding: 12px;
  flex-direction: column;
  gap: 12px;
  display: flex;
  height: fit-content;
  direction: ltr
}

.GUNS__d3-7839bb44-07b52241-6d769fe4 {
  background: #131313;
  border: 2px solid #191919;
  color: #eaeaea;
  padding: 10px 12px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px
}

.GUNS__3b-a03a5973-bf19a751-52dc59f5 {
  background: #1c1c1c !important;
  border: 2px solid #242424 !important
}

.GUNS__0c-40303f0c-4062fab6-262a435d {
  display: flex;
  gap: 8px;
  flex-wrap: wrap
}

.GUNS__2b-d1540424-545c5750-1fae04d2 {
  background: #131313;
  border: 2px solid #191919;
  color: #fafafa;
  padding: 11px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: .25s;
  flex: 1 0 auto;
  min-width: 140px;
  max-width: 220px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  gap: 6px
}

.GUNS__2b-d1540424-545c5750-1fae04d2:hover {
  background: #1a1a1a;
  border: 2px solid #2a2a2a
}

.GUNS__2b-d1540424-545c5750-1fae04d2:active {
  transform: translateY(4px)
}

.GUNS__2b-d1540424-545c5750-1fae04d2 svg {
  font-size: 22px;
  min-width: 22px
}

.GUNS__45-f1db6661-4397d48b-a437cb53 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px
}

.GUNS__37-38ca9f07-aec1ee3b-dfb8c39e {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.GUNS__e2-e6c53812-600069ae-8b6db869 {
  color: #9a9a9a;
  font-size: 13px
}

.GUNS__50-7c81678e-fd9d96c9-973b681a {
  color: #a4a4a4;
  padding: 0 6px;
  cursor: pointer;
  transition: .25s;
  align-items: center;
  justify-content: center;
  display: flex
}

.GUNS__50-7c81678e-fd9d96c9-973b681a:hover {
  color: #fafafa
}

.GUNS__50-7c81678e-fd9d96c9-973b681a:active {
  transform: translateY(4px)
}

.GUNS__50-7c81678e-fd9d96c9-973b681a svg {
  font-size: 25px
}

.GUNS__6c-ea04c9ee-9e3388c1-b95d0829 {
  display: flex;
  flex-direction: column;
  gap: 16px
}

@media (min-width:1400px) {
  .GUNS__46-c6079ee7-d117f4b7-2e965b6d {
    gap: 22px
  }
}

.GUNS__aa-c9d98c04-58551773-8b5dbfb7 {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #171717;
  background-color: #121212;
  border-radius: 25px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 15px;
  font-family: Satoshi, sans-serif;
  font-weight: 500;
  font-size: 15.5px;
  transition: .25s;
  outline: none;
  color: #fafafa;
  height: 46px
}

.GUNS__aa-c9d98c04-58551773-8b5dbfb7:hover {
  border: 2px solid #202020
}

.GUNS__aa-c9d98c04-58551773-8b5dbfb7:focus {
  border: 2px solid #272727
}

.GUNS__33-beac96d9-fbc28b65-06a7ff46 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: right;
  direction: ltr
}

.GUNS__6a-0aa3330c-66d39113-d529fe69 {
  background-color: #1a1a1a;
  border: 2px solid #1a1a1a;
  border-left: none;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  cursor: pointer
}

.GUNS__6a-0aa3330c-66d39113-d529fe69 svg {
  font-size: 27px;
  color: #c4c4c4
}

.GUNS__d2-6fcdc71f-b96a0e1c-df034e36 {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative
}

.GUNS__d5-6cfc6d05-88a92d90-7c086120 {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center
}

.GUNS__d5-6cfc6d05-88a92d90-7c086120 svg {
  font-size: 21px;
  color: #818181;
  cursor: pointer;
  transition: .3s;
  border-radius: 25px;
  padding: 4px
}

.GUNS__d5-6cfc6d05-88a92d90-7c086120:hover svg {
  color: #bdbdbd !important;
  background-color: #81818146
}

@media (max-width:1150px) {
  .GUNS__83-ed169847-a3694b8a-9d9bb3b1 {
    flex-direction: column
  }

  .GUNS__6e-7888cafd-b8f0b2e6-cc1405b4 {
    width: 100%;
    box-sizing: border-box
  }
}

@media (max-width:900px) {
  .GUNS__83-ed169847-a3694b8a-9d9bb3b1 {
    flex-direction: row
  }

  .GUNS__6e-7888cafd-b8f0b2e6-cc1405b4 {
    width: fit-content
  }
}

@media (max-width:730px) {
  .GUNS__83-ed169847-a3694b8a-9d9bb3b1 {
    flex-direction: column
  }

  .GUNS__6e-7888cafd-b8f0b2e6-cc1405b4 {
    width: 100%;
    box-sizing: border-box
  }
}

.GUNS__6e-7888cafd-b8f0b2e6-cc1405b4 {
  display: flex;
  gap: 10px;
  align-items: center
}

.GUNS__6b-d55aaf33-48e2d33a-7a325354 {
  color: #6b6b6b;
  font-size: 14px;
  text-align: center;
  margin-top: 5px
}

.GUNS__cb-e91ba871-85c08542-3fcd45f8 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px
}

.GUNS__cb-e91ba871-85c08542-3fcd45f8 svg {
  font-size: 42px;
  color: #6b6b6b
}

.GUNS__d3-b7cfbc37-ef0e33bc-a7012860 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px
}

.GUNS__f3-24d8b089-b6521944-90a3154d {
  background: #161616;
  border: 2px solid #1c1c1c;
  color: #fafafa;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: .25s;
  width: 100%;
  box-sizing: border-box;
  justify-content: center
}

.GUNS__f3-24d8b089-b6521944-90a3154d:hover {
  background: #1a1a1a;
  border: 2px solid #2a2a2a
}

.GUNS__f3-24d8b089-b6521944-90a3154d:active {
  transform: translateY(4px)
}

.GUNS__f3-24d8b089-b6521944-90a3154d svg {
  font-size: 22px
}

.GUNS__db-f930c680-150cd7a2-d798074b {
  font-size: 14px;
  color: #da5050;
  cursor: pointer;
  transition: .3s;
  display: flex
}

.GUNS__db-f930c680-150cd7a2-d798074b:hover {
  transform: scale(1.1)
}

.GUNS__43-de7a044c-9ae5c465-1bef654b {
  gap: 5px
}

.GUNS__43-de7a044c-9ae5c465-1bef654b,
.GUNS__a6-3fbb5f10-ad141746-686b60f9 {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.GUNS__a6-3fbb5f10-ad141746-686b60f9 {
  gap: 10px
}

.GUNS__a6-3fbb5f10-ad141746-686b60f9 span {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #727272
}

.GUNS__a6-3fbb5f10-ad141746-686b60f9 span svg {
  font-size: 20px
}

.GUNS__6a-b8bb94e2-d99cc95a-e22d25a2 {
  border: 2px solid #7e2c8b74 !important
}

.GUNS__d3-15ae5345-a8ddebc4-a6b6ed6b {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.GUNS__d3-15ae5345-a8ddebc4-a6b6ed6b h3 {
  margin: 0;
  font-size: 15.5px;
  color: #b3b3b3;
  font-weight: 400
}

.GUNS__91-5b221749-54623001-e7c7dd13 {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.GUNS__df-f7707572-e6e43e5d-7d1dee30 {
  background: #151515;
  border: 2px solid #1d1d1d;
  border-radius: 15px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.GUNS__df-f7707572-e6e43e5d-7d1dee30 img,
.GUNS__df-f7707572-e6e43e5d-7d1dee30 video {
  width: 100%;
  border-radius: 10px;
  max-height: 250px;
  object-fit: cover
}

.GUNS__c7-aa6aece2-6bea4677-a4edfde0 h1 {
  font-size: 17px;
  color: #fafafa;
  font-weight: 550;
  margin: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.GUNS__c7-aa6aece2-6bea4677-a4edfde0 h3 {
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 450;
  margin: 0
}

.GUNS__bf-2e13da44-f4cebc4e-20d8a850 {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.GUNS__db-f9288156-f8fc46ed-5e48d618 {
  background-color: #161616;
  border: 2px solid #202020;
  color: #fafafa;
  border-radius: 20px;
  padding: 9px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: .25s;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box
}

.GUNS__db-f9288156-f8fc46ed-5e48d618 svg {
  font-size: 19px
}

.GUNS__db-f9288156-f8fc46ed-5e48d618:hover {
  background-color: #1a1a1a;
  border-color: #2a2a2a
}

.GUNS__db-f9288156-f8fc46ed-5e48d618:active {
  transform: translateY(4px)
}

.GUNS__72-1c636269-daf55e55-7cc35c5e {
  background: #7e2c8b63;
  border: 2px solid #7e2c8b7c
}

.GUNS__72-1c636269-daf55e55-7cc35c5e:hover {
  background: #7e2c8b8c;
  border: 2px solid #7e2c8b9e
}

.GUNS__bf-2e13da44-f4cebc4e-20d8a850 a {
  text-decoration: none
}

.GUNS__31-aa571824-a7433f23-88ec89d3 {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.GUNS__82-50ce70d1-6548d248-44012864 {
  background-color: #111111;
  padding: 25px;
  border-radius: 15px
}

.GUNS__82-50ce70d1-6548d248-44012864 h1 {
  font-size: 23px;
  color: #e7e7e7;
  font-weight: 550;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px
}

.GUNS__82-50ce70d1-6548d248-44012864 h1 svg {
  font-size: 24px
}

.GUNS__82-50ce70d1-6548d248-44012864 h3 {
  font-size: 15.5px;
  color: #838383;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center
}

.GUNS__8a-394b5386-a7ed89fe-fc866ff4 {
  margin-top: 10px;
  display: flex
}

.GUNS__f8-0bbdb21a-16e79782-964f2b16 {
  display: flex;
  gap: 25px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 25px;
  flex-direction: column
}

.GUNS__1b-6c5eeab9-dab79946-adf37072,
.GUNS__22-44c90848-83646d56-58cfd2ae {
  background-color: #111111;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box
}

.GUNS__9c-cdde4f99-00dcfdc9-6686e619 {
  margin: 0;
  color: #fafafa;
  font-weight: 550;
  font-size: 20px
}

.GUNS__9c-cdde4f99-00dcfdc9-6686e619 span {
  color: #707070;
  font-weight: 450;
  font-size: 18px
}

.GUNS__e5-0db77955-29ae44cf-0f780e93 {
  margin: 6px 0 0;
  color: #9e9e9e;
  font-size: 14.5px;
  font-weight: 450
}

.GUNS__4d-0fd2296b-354b0b85-d67bc9bc {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 15px
}

.GUNS__55-36b3075d-5aa473f3-832461ee {
  margin-top: 10px;
  background: #7e2c8b63;
  border: 2px solid #7e2c8b7c;
  color: #fafafa;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: .25s;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box
}

.GUNS__55-36b3075d-5aa473f3-832461ee:hover {
  background: #7e2c8b8c;
  border: 2px solid #7e2c8b9e
}

.GUNS__55-36b3075d-5aa473f3-832461ee:active {
  transform: translateY(4px)
}

.GUNS__55-36b3075d-5aa473f3-832461ee svg {
  font-size: 20px
}

.GUNS__ac-6fed741d-fbf46a22-14049b49 {
  flex: 1 1;
  background: #111111;
  padding: 20px;
  border-radius: 15px
}

.GUNS__29-084dac0f-1df0a5b4-b8970d47 {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.GUNS__29-084dac0f-1df0a5b4-b8970d47 h1 {
  margin: 0;
  font-size: 17px;
  color: #fafafa
}

.GUNS__29-084dac0f-1df0a5b4-b8970d47 h3 {
  margin: 0;
  font-size: 15.5px;
  color: #b3b3b3;
  font-weight: 400
}

.GUNS__26-f596d1cd-5321d491-c7aea1c1 {
  margin-top: 12px
}

.GUNS__9e-991e0d0a-360b2b63-bda26b93 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px
}

.GUNS__9e-991e0d0a-360b2b63-bda26b93 svg {
  font-size: 36px;
  color: #6b6b6b
}

.GUNS__92-79528039-fc3577fe-da9179ef {
  margin-top: 25px;
  color: #a3a3a3;
  font-size: 16px;
  text-align: center
}

.GUNS__95-46209808-047e4024-c84a8a54 {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.GUNS__e5-2bd7bcd9-1b4dbc93-1c781928,
.GUNS__ec-521dc9b0-ad0ec630-cb6747ac {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.GUNS__ec-521dc9b0-ad0ec630-cb6747ac {
  background: #151515;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  padding: 10px
}

.GUNS__2b-7df6944b-e12507c6-fd7a20ad {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.GUNS__c7-bc3442ed-67ca4cd1-1a36fbc7 {
  background: #151515;
  border: 2px solid #1a1a1a;
  color: #eaeaea;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12.5px
}

.GUNS__5f-b1acc6f9-23a2f776-223fdf33 {
  display: flex;
  flex-wrap: wrap;
  gap: 8px
}

.GUNS__dd-c69e27dc-d4df074e-1cc89727 {
  background: #141414;
  border: 2px solid #1c1c1c;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.GUNS__3c-017d73c0-c97e2231-00412af9 {
  color: #bdbdbd;
  font-size: 12.5px
}

.GUNS__19-d4771870-6f87bbaa-9289efe4 {
  color: #b4b4b4;
  font-size: 19px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .25s
}

.GUNS__19-d4771870-6f87bbaa-9289efe4:hover {
  color: #fafafa
}

.GUNS__4d-264a5f52-8626aefe-0de6a2e5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.GUNS__f9-aac0963c-a4fc016a-bd7084c6 {
  display: flex;
  flex-direction: column;
  gap: 4px
}

.GUNS__e4-87415beb-ef4ff3d2-6a91f287 {
  margin: 0;
  font-size: 16px;
  color: #eaeaea;
  font-weight: 600
}

.GUNS__76-4ad607ff-3463ded1-50e3a8bc {
  font-size: 14px;
  color: #cfcfcf;
  word-break: break-all
}

.GUNS__07-bc4edfb6-1b89095f-ec975a97 {
  color: #9e9e9e;
  font-size: 13px;
  margin-top: 6px
}

.GUNS__dc-af13ceef-77a484be-eee52db7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 8px
}

.GUNS__d8-3dae1599-44302ba6-e5131611 {
  background-color: #171717;
  border: 2px solid #1c1c1c;
  padding: 10px 15px;
  border-radius: 20px;
  color: #e0e0e0;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 7px
}

.GUNS__d8-3dae1599-44302ba6-e5131611 svg {
  font-size: 20px;
  min-width: 20px;
  color: #d4d4d4
}

.GUNS__ca-192a42bc-eda5b6b8-df2464f2 {
  color: #9e9e9e;
  font-size: 13px
}

.GUNS__aa-6c892b92-a984e6a0-849f2d8c {
  background-color: #171717;
  border: 2px solid #1c1c1c;
  padding: 10px;
  border-radius: 25px;
  color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px
}

.GUNS__aa-6c892b92-a984e6a0-849f2d8c svg {
  font-size: 27px;
  min-width: 27px;
  color: #d4d4d4
}

.GUNS__26-f596d1cd-5321d491-c7aea1c1 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px
}

.GUNS__3e-da6154ef-d2ae5eb7-34048656 {
  background-color: #131313;
  border: 2px solid #171717;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform .18s ease, border-color .18s ease
}

.GUNS__3e-da6154ef-d2ae5eb7-34048656:hover {
  border-color: #1d1d1d
}

.GUNS__ef-7e704f4d-acbd4440-2fcb7ec9 {
  display: flex;
  flex-direction: column;
  gap: 6px
}

.GUNS__4d-52ddcb15-c417c715-49d13530 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto
}

.GUNS__10-ebce90e9-b41519a9-f5c5a0c6 {
  font-size: 14.5px;
  color: #b3b3b3;
  font-weight: 400
}

.GUNS__49-38bb50da-1721e385-70e1846e {
  padding: 1px 10px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 500
}

.GUNS__71-82e6ef3a-0899dde1-ce3a7fe5,
.GUNS__90-3dc79be8-22b831b9-54f0a45b {
  font-size: 18px;
  color: #fafafa;
  font-weight: 500;
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.GUNS__3d-9c424178-a2c685c9-49ef5496 {
  display: flex;
  align-items: center;
  gap: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.GUNS__95-6248da79-7c03056f-163abb3c {
  font-size: 14.5px;
  color: #9e9e9e;
  font-weight: 450
}

.GUNS__e4-95b8d3ce-60ef7d3d-da11ac11 {
  background-color: rgba(17, 107, 70, .5);
  border: 2px solid rgba(0, 255, 149, .173);
  color: #18db8a
}

.GUNS__a1-d9553a92-b19b4ed9-7d6a70b5 {
  background-color: rgba(107, 107, 17, .5);
  border: 2px solid rgba(255, 255, 0, .173);
  color: #ffff55
}

.GUNS__db-c9653034-c02dab05-3b75d4cb {
  background: #161616;
  border: 2px solid #1a1a1a;
  color: #fafafa;
  padding: 7px 12px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .25s;
  justify-content: center;
  width: 100%
}

.GUNS__db-c9653034-c02dab05-3b75d4cb:hover {
  background: #1a1a1a;
  border-color: #2a2a2a
}

.GUNS__db-c9653034-c02dab05-3b75d4cb:active {
  transform: translateY(4px)
}

@media (min-width:2100px) and (min-height:1200px) {
  .GUNS__46-c6079ee7-d117f4b7-2e965b6d {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
  }
}

.GUNS__66-fec2d5fc-ac1e1953-4da71480 {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  flex: 1 1 auto
}

.GUNS__66-fec2d5fc-ac1e1953-4da71480 span {
  font-weight: 500;
  color: #808080
}

.GUNS__f2-9c369d5c-c05f5228-ab3387b5 {
  font-size: 15px;
  color: #a0a0a0
}

.GUNS__2b-bb9a020f-e5dcb37e-83b2bf51 {
  background: #161616;
  border: 2px solid #1a1a1a;
  color: #fafafa;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 16.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .25s;
  justify-content: center
}

.GUNS__2b-bb9a020f-e5dcb37e-83b2bf51:hover {
  background: #1a1a1a;
  border-color: #2a2a2a
}

.GUNS__2b-bb9a020f-e5dcb37e-83b2bf51:active {
  transform: translateY(4px)
}

.GUNS__2b-bb9a020f-e5dcb37e-83b2bf51 svg {
  font-size: 20px
}

.GUNS__1c-d9e859d8-68d9899d-cdd4ee97 {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0
}

.GUNS__cc-0755baa1-ebf931f2-7453fbbf {
  display: flex;
  gap: 8px
}

.GUNS__cc-0755baa1-ebf931f2-7453fbbf span {
  background-color: #181818;
  border: 2px solid #1d1d1d;
  color: #d4d4d4;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 500
}

.GUNS__6f-91a47d36-5e77d3ee-fe76098e {
  background-color: #141414;
  border: 2px solid #171717;
  border-radius: 50px;
  padding: 7px 9px 7px 15px;
  display: flex;
  gap: 10px;
  transition: transform .18s ease, border-color .18s ease;
  justify-content: space-between;
  align-items: center
}

.GUNS__6f-91a47d36-5e77d3ee-fe76098e:hover {
  border-color: #1b1b1b
}

.GUNS__aa-6da3d07d-5911b872-e2f83272 {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap
}

.GUNS__63-a41b9f87-6969c7d8-fc12a2f1 {
  background: #7e2c8b63;
  border: 2px solid #7e2c8b7c;
  color: #fafafa;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .25s;
  justify-content: center
}

.GUNS__63-a41b9f87-6969c7d8-fc12a2f1:hover {
  background: #7e2c8b8c;
  border: 2px solid #7e2c8b9e
}

.GUNS__63-a41b9f87-6969c7d8-fc12a2f1:active {
  transform: translateY(4px)
}

.GUNS__42-cb06e560-f798675e-428aaccf {
  display: flex;
  align-items: center;
  gap: 10px
}

.GUNS__3f-387a8cfb-90b88637-cbdda1de {
  display: flex;
  color: #da5050;
  font-size: 21px;
  cursor: pointer;
  transition: .3s
}

.GUNS__3f-387a8cfb-90b88637-cbdda1de:hover {
  transform: scale(1.1)
}

.GUNS__fb-28a5445c-01afcb10-ca33979a {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  gap: 10px
}

.GUNS__fb-28a5445c-01afcb10-ca33979a span {
  display: flex
}

.GUNS__fb-28a5445c-01afcb10-ca33979a svg {
  transition: .3s
}

.GUNS__fb-28a5445c-01afcb10-ca33979a span:first-child svg,
.GUNS__fb-28a5445c-01afcb10-ca33979a span:nth-child(2) svg {
  color: #b8b8b8
}

.GUNS__fb-28a5445c-01afcb10-ca33979a span:nth-child(3) svg {
  color: #da5050
}

.GUNS__fb-28a5445c-01afcb10-ca33979a svg:hover {
  transform: scale(1.1)
}

.GUNS__c5-a2d99597-3bc4062f-17875b58 {
  display: flex;
  gap: 7px;
  margin-top: 10px
}

.GUNS__5b-57af99f7-45ef7a92-9c851a8d {
  background: rgba(255, 0, 0, .2);
  border: 2px solid rgba(255, 0, 0, .15);
  color: #fafafa;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 14.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .25s;
  justify-content: center;
  width: 100%;
  box-sizing: border-box
}

.GUNS__5b-57af99f7-45ef7a92-9c851a8d svg {
  font-size: 18px
}

.GUNS__94-118e5e2d-f72ffc37-acf0c4ac {
  background: rgba(0, 255, 0, .2);
  border: 2px solid rgba(0, 255, 0, .15);
  color: #fafafa;
  padding: 6px 12px;
  border-radius: 15px;
  font-size: 14.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .25s;
  justify-content: center;
  width: 100%;
  box-sizing: border-box
}

.GUNS__89-db0a5f59-df598991-ab5ec53c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.GUNS__b7-ffaa96c2-381556e2-e8ad83aa {
  display: flex;
  gap: 25px;
  width: 100%;
  box-sizing: border-box
}

@media (max-width:1130px) {
  .GUNS__b7-ffaa96c2-381556e2-e8ad83aa {
    flex-direction: column
  }
}

.GUNS__03-a0328023-8f4c2879-a712fec5 {
  background-color: #7e2c8b63;
  border: 2px solid #7e2c8b7c;
  color: #fafafa;
  padding: 1px 10px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 500
}

.GUNS__5b-ff754ec5-e4292f24-1650fd53 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background: #7e2c8b2c;
  border: 2px solid #7e2c8b36;
  border-radius: 20px;
  padding: 15px;
  font-size: 15px;
  color: #f1f1f1
}

.GUNS__5b-ff754ec5-e4292f24-1650fd53 span {
  display: flex;
  align-items: center;
  gap: 7px
}

.GUNS__5b-ff754ec5-e4292f24-1650fd53 svg {
  font-size: 20px;
  min-width: 20px
}

.GUNS__5b-ff754ec5-e4292f24-1650fd53 img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  align-self: center;
  transition: transform .2s ease
}

.GUNS__5b-ff754ec5-e4292f24-1650fd53 img:hover {
  transform: scale(1.02)
}

.GUNS__76-183b36b8-31239c28-13b4cf23 {
  pointer-events: none;
  font-style: italic
}

.GUNS__56-fd90f8cd-995905ec-b18dfe57 {
  background-color: #191919;
  border: 2px solid #1e1e1e;
  color: #fafafa;
  padding: 1px 10px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 500
}

.GUNS__cd-c2ee483d-33c412c2-b66b8954 {
  display: flex;
  align-items: center;
  gap: 7px
}

@media (max-width:540px) {
  .GUNS__3d-9c424178-a2c685c9-49ef5496 {
    flex-direction: column
  }

  .GUNS__cd-c2ee483d-33c412c2-b66b8954 {
    width: 100%;
    flex-wrap: wrap
  }

  .GUNS__71-82e6ef3a-0899dde1-ce3a7fe5 {
    width: 100%
  }
}

.GUNS__75-00eb0d38-eba1f0db-25105797 {
  background-color: #141414;
  border: 2px solid #1a1a1a;
  border-radius: 25px;
  padding: 11px 15px;
  margin-top: 12px;
  color: #e0e0e0;
  font-size: 14px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .2s ease
}

.GUNS__75-00eb0d38-eba1f0db-25105797 svg {
  color: #ff7eff;
  min-width: 18px;
  font-size: 18px
}

.GUNS__6a-a133c5ad-116c99be-a5676aa2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%
}

.GUNS__4c-6c3aeeea-8caa425a-b44cfe6d {
  background: #111111;
  border: 2px solid #171717;
  border-radius: 20px;
  padding: 22px;
  width: 100%;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  box-sizing: border-box
}

.GUNS__18-9f1bc9e9-857a5f50-4d181497 {
  color: #eaeaea;
  font-weight: 600;
  margin-left: 6px
}

.GUNS__cd-e3bf9272-aba5dd45-b44e724b {
  display: flex;
  flex-wrap: wrap;
  gap: 8px
}

.GUNS__74-cc5a342f-7ebb48ae-b05b7dfc {
  background: #161616;
  border: 2px solid #1a1a1a;
  color: #fafafa;
  padding: 7px 12px;
  border-radius: 15px;
  font-size: 14.5px;
  cursor: pointer;
  transition: .25s;
  display: inline-flex;
  align-items: center;
  gap: 6px
}

.GUNS__74-cc5a342f-7ebb48ae-b05b7dfc:hover {
  background: #1a1a1a;
  border-color: #2a2a2a
}

.GUNS__5a-a42a9619-d74e2dcf-5eff1903 {
  background: #7e2c8b63;
  border: 2px solid #7e2c8b7c
}

.GUNS__5a-a42a9619-d74e2dcf-5eff1903:hover {
  background: #7e2c8b8c;
  border: 2px solid #7e2c8b9e
}

.GUNS__8b-bbdbad9f-afb5cde4-03ab93a9 {
  background: #191919;
  border: 2px solid #222;
  color: #d7d7d7;
  padding: 1px 8px;
  border-radius: 11px;
  font-size: 12px;
  font-weight: 600
}

.GUNS__cd-b52b6975-7f986448-e01cbe0a {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.GUNS__57-beb6c4a8-7a32fc5b-c4080ea7 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #eaeaea;
  font-size: 15.5px;
  font-weight: 600
}

.GUNS__c0-b8529b1f-06bde11d-d311af54 {
  background: #141414;
  border: 2px solid #1a1a1a;
  border-radius: 17px;
  padding: 7px 7px 7px 10px;
  display: flex;
  align-items: center;
  gap: 10px
}

.GUNS__f4-5086f632-c2008df9-eb84432a {
  color: #fafafa;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: .5px
}

.GUNS__dc-bcc04e9c-48fbe083-80f6900e {
  margin-left: auto;
  display: flex;
  gap: 8px
}

.GUNS__12-29fc9a65-baadd7bc-6769fe5c {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.GUNS__f1-03489406-feb1b13f-e6780b64 h2 {
  margin: 0;
  font-size: 18px;
  color: #e7e7e7;
  font-weight: 600
}

.GUNS__8b-3e7161aa-842520b3-101758cc {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.GUNS__bd-3018228a-1b792e2c-95d58cc5 {
  display: flex;
  align-items: center;
  gap: 9px
}

.GUNS__f3-6f1bf887-a6c47571-b0550bd7 {
  background: #7e2c8b63;
  border: 2px solid #7e2c8b7c;
  color: #fafafa;
  border-radius: 12px;
  min-width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800
}

.GUNS__e9-b3e86229-6c8fe1f8-7f675b17 {
  color: #dcdcdc;
  font-size: 15px;
  line-height: 1.45;
  gap: 6px
}

.GUNS__f9-2e1f47d1-367706ea-a7136db9 {
  background: #151515;
  border: 2px solid #1d1d1d;
  border-radius: 12px;
  padding: 10px;
  color: #eaeaea;
  font-size: 13.5px;
  overflow-x: auto
}

@media (max-width:560px) {
  .GUNS__4c-6c3aeeea-8caa425a-b44cfe6d {
    padding: 16px;
    border-radius: 16px
  }
}

.GUNS__04-1db65f4a-e35d569a-68a41a83 {
  color: #9e9e9e;
  font-size: 14px
}

.GUNS__63-f03dfb28-43b07fc2-c621fa9a {
  background: #161616;
  border: 2px solid #1a1a1a;
  color: #fafafa;
  padding: 5px 14px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .25s;
  justify-content: center;
  width: 100%
}

.GUNS__63-f03dfb28-43b07fc2-c621fa9a:hover {
  background: #1a1a1a;
  border-color: #2a2a2a
}

.GUNS__63-f03dfb28-43b07fc2-c621fa9a:active {
  transform: translateY(4px)
}

.GUNS__a4-7282f1f1-089c1391-2b0a658a {
  background: #7e2c8b63;
  border: 2px solid #7e2c8b7c;
  color: #fafafa;
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .25s;
  justify-content: center;
  text-decoration: none
}

.GUNS__a4-7282f1f1-089c1391-2b0a658a svg {
  font-size: 18px
}

.GUNS__a4-7282f1f1-089c1391-2b0a658a:hover {
  background: #7e2c8b8c;
  border: 2px solid #7e2c8b9e
}

.GUNS__a4-7282f1f1-089c1391-2b0a658a:active {
  transform: translateY(4px)
}

.GUNS__e9-b3e86229-6c8fe1f8-7f675b17 a {
  color: #cb7cd7;
  text-decoration: underline
}

.GUNS__e9-b3e86229-6c8fe1f8-7f675b17 a svg {
  font-size: 18px;
  vertical-align: middle;
  margin-bottom: 3px
}

.GUNS__7b-c227547a-40fa0881-3224cb35 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 8px
}

.GUNS__e3-1070239e-44f9bb37-42f91e0d {
  text-decoration: none;
  color: #cb7cd7
}

.GUNS__e3-1070239e-44f9bb37-42f91e0d svg {
  font-size: 18px;
  vertical-align: middle;
  margin-bottom: 3px
}

.GUNS__62-ac84b2b4-d5f25cd0-2837894b {
  display: flex;
  flex-direction: column;
  gap: 25px
}

.GUNS__67-50987d0b-565b7ada-7bd74aaa {
  background-color: #111111;
  padding: 25px;
  border-radius: 15px
}

.GUNS__67-50987d0b-565b7ada-7bd74aaa h1 {
  font-size: 23px;
  color: #e7e7e7;
  font-weight: 550;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px
}

.GUNS__67-50987d0b-565b7ada-7bd74aaa h1 svg {
  font-size: 26px
}

.GUNS__67-50987d0b-565b7ada-7bd74aaa h3 {
  font-size: 15.5px;
  color: #838383;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center
}

.GUNS__9f-39cfa879-433c7eb4-214a87ba {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #111111;
  border: 2px solid #171717;
  border-radius: 16px;
  padding: 14px 18px;
  color: #d8d8d8;
  font-size: 15px
}

.GUNS__9f-39cfa879-433c7eb4-214a87ba svg {
  font-size: 22px
}

.GUNS__02-f4eb3362-eea3e061-d7fa379a {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px
}

@media (max-width:550px) {
  .GUNS__02-f4eb3362-eea3e061-d7fa379a {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important
  }
}

.GUNS__1c-65f3f249-0304192d-de513548 {
  background: #111111;
  border-radius: 18px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 17px
}

.GUNS__f8-d1c7cba5-061263fc-1960e239 {
  display: flex;
  flex-direction: column;
  gap: 6px
}

.GUNS__f8-d1c7cba5-061263fc-1960e239 h2 {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 550;
  color: #f0f0f0
}

.GUNS__f8-d1c7cba5-061263fc-1960e239 h2 svg {
  font-size: 22px
}

.GUNS__f8-d1c7cba5-061263fc-1960e239 p {
  margin: 0;
  font-size: 14px;
  color: #a5a5a5;
  font-weight: 450
}

.GUNS__06-4b392795-fc615631-b38118df {
  margin: -6px 0 4px 4px;
  font-size: 14px;
  color: #8c8c8c
}

.GUNS__19-9a9fc2b2-00992980-fa86d98c {
  display: flex;
  flex-direction: column;
  gap: 14px
}

.GUNS__8d-524da5e5-f0e750ae-7866332c {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.GUNS__9e-9d305cab-52e30e3d-e203cb55 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 9px 14px;
  background: #151515;
  border: 2px solid #1a1a1a;
  border-radius: 17px;
  color: #f4f4f4;
  font-size: 15px;
  font-weight: 500
}

.GUNS__9e-9d305cab-52e30e3d-e203cb55 svg {
  font-size: 18px;
  color: #cfcfcf
}

.GUNS__41-6367eed2-cd7c123c-c3c5d508 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  justify-content: center;
  background: #151515;
  border: 2px solid #1a1a1a;
  border-radius: 17px;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: .25s
}

.GUNS__41-6367eed2-cd7c123c-c3c5d508 svg {
  font-size: 18px
}

.GUNS__41-6367eed2-cd7c123c-c3c5d508:hover {
  background: #202020;
  border-color: #2b2b2b
}

.GUNS__41-6367eed2-cd7c123c-c3c5d508:active {
  transform: translateY(3px)
}

.GUNS__a5-e8e92e64-a1c81f84-3d29cbcd {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 17px;
  background: #161616;
  justify-content: center;
  border: 2px solid #1a1a1a;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: .25s
}

.GUNS__a5-e8e92e64-a1c81f84-3d29cbcd svg {
  font-size: 18px
}

.GUNS__a5-e8e92e64-a1c81f84-3d29cbcd:hover {
  background: #202020;
  border-color: #2e2e2e
}

.GUNS__a5-e8e92e64-a1c81f84-3d29cbcd:active {
  transform: translateY(3px)
}

.GUNS__b6-23001478-8e871751-06cc0e8f {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px
}

@media (max-width:640px) {
  .GUNS__67-50987d0b-565b7ada-7bd74aaa h1 {
    font-size: 22px
  }
}

.GUNS__55-34a7057d-71170852-97fdcc15 {
  background-color: #0c0c0c;
  border: 2px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fafafa;
  cursor: pointer;
  justify-content: center;
  padding: 8px;
  text-align: center;
  transition: .3s;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px
}

.GUNS__55-34a7057d-71170852-97fdcc15:hover {
  border-color: #191919
}

.GUNS__55-34a7057d-71170852-97fdcc15:active {
  transform: translateY(4px)
}

.GUNS__55-5f773b9d-3a903852-2d815dd4 {
  display: flex;
  flex-direction: column
}

.GUNS__55-5f773b9d-3a903852-2d815dd4 h1 {
  font-size: 16px;
  font-weight: 500;
  color: #dddddd;
  margin: 0 0 5.5px 3px
}

.GUNS__0b-3894aeb4-4b400703-a6901089 {
  display: flex;
  flex-direction: column
}

.GUNS__0b-3894aeb4-4b400703-a6901089 h1 {
  font-size: 16px;
  font-weight: 500;
  color: #dddddd;
  margin: 0 0 5.5px 3px
}

.GUNS__92-1853df2a-c5323e71-7700de02 {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.GUNS__92-1853df2a-c5323e71-7700de02 h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-size: 16px;
  font-weight: 450;
  color: #dddddd
}

.GUNS__92-1853df2a-c5323e71-7700de02 h1 p {
  margin: 0;
  font-size: 14px;
  font-weight: 550;
  color: #a3a3a3
}

@media (max-width:1150px) {
  .GUNS__7a-f41b4e6d-cd9d78b1-06b6ba4b {
    flex-direction: column
  }

  .GUNS__85-0b4efc0b-7fe07641-0697d16b {
    max-width: 100%
  }

  .GUNS__5e-8534a2b2-e14f8168-14f00acd {
    height: 100px
  }
}

@media (max-width:645px) {
  .GUNS__6f-91a47d36-5e77d3ee-fe76098e {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 20px;
    padding: 10px
  }

  .GUNS__63-a41b9f87-6969c7d8-fc12a2f1 {
    width: 100%;
    box-sizing: border-box
  }
}

.GUNS__74-67aaba76-f9e36277-5cc108bb {
  margin-top: 15px;
  display: flex;
  gap: 7px
}

.GUNS__74-67aaba76-f9e36277-5cc108bb span {
  width: 100%;
  box-sizing: border-box
}

.GUNS__74-67aaba76-f9e36277-5cc108bb span:first-child {
  background: #7e2c8b63;
  border: 2px solid #7e2c8b7c;
  color: #fafafa;
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .25s;
  justify-content: center
}

.GUNS__74-67aaba76-f9e36277-5cc108bb span:first-child:hover {
  background: #7e2c8b8c;
  border: 2px solid #7e2c8b9e
}

.GUNS__74-67aaba76-f9e36277-5cc108bb span:first-child:active {
  transform: translateY(4px)
}

.GUNS__74-67aaba76-f9e36277-5cc108bb span:last-child {
  background: #161616;
  border: 2px solid #1a1a1a;
  color: #fafafa;
  padding: 7px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .25s;
  justify-content: center
}

.GUNS__74-67aaba76-f9e36277-5cc108bb span:last-child:hover {
  background: #1a1a1a;
  border-color: #2a2a2a
}

.GUNS__74-67aaba76-f9e36277-5cc108bb span:last-child:active {
  transform: translateY(4px)
}

.GUNS__0b-ba3d6736-ce582cf1-162c5fad {
  margin-top: 5px
}

.GUNS__0b-ba3d6736-ce582cf1-162c5fad h3 {
  margin: 0;
  font-size: 16px;
  color: #b3b3b3;
  font-weight: 450
}

.GUNS__29-e111fbf5-d960d9ae-5d74027c {
  margin-top: 12px;
  background-color: #171717;
  border: 2px solid #1c1c1c;
  padding: 10px 15px;
  border-radius: 20px;
  color: #e0e0e0;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 7px
}

.GUNS__29-e111fbf5-d960d9ae-5d74027c svg {
  font-size: 20px;
  min-width: 20px;
  color: #d4d4d4
}

.GUNS__92-99da8a31-6efc5f1a-62dc11bf {
  color: #c7c7c7;
  font-size: 14.5px;
  background-color: #161616;
  border: 2px solid #1b1b1b;
  padding: 8px 12px;
  border-radius: 15px
}

.GUNS__92-99da8a31-6efc5f1a-62dc11bf span {
  font-weight: 500;
  font-size: 15.5px;
  color: #e4e4e4;
  margin-bottom: 5px;
  display: flex
}

.GUNS__18-e5b86ebf-a08f9907-c9c8f513 {
  background: #161616;
  border: 2px solid #1a1a1a;
  color: #ffeaea;
  padding: 9px 17px;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  transition: .25s;
  display: inline-flex;
  align-items: center;
  width: fit-content
}

.GUNS__18-e5b86ebf-a08f9907-c9c8f513:hover {
  background: #1a1a1a;
  border-color: #2a2a2a
}

.GUNS__18-e5b86ebf-a08f9907-c9c8f513:active {
  transform: translateY(4px)
}

.GUNS__b5-c7b49bf7-d553156f-fc24a430 {
  display: flex;
  align-items: flex-start;
  color: #fafafa;
  font-size: 14.5px;
  background-color: #e452523b;
  border: 2px solid #e4525227;
  padding: 8px 12px;
  border-radius: 15px
}

.GUNS__ec-9528fe7b-b2d59f36-b9624bb0 {
  display: flex;
  flex-direction: column;
  gap: 4px
}

.GUNS__b5-c7b49bf7-d553156f-fc24a430 svg {
  font-size: 23px;
  min-width: 23px;
  color: #fafafa;
  margin-right: 10px
}

.GUNS__ed-4480885a-f2516ddf-08c2ce03 svg {
  font-size: 19px;
  margin-right: 6px;
  vertical-align: baseline;
  margin-bottom: -2px
}

.GUNS__40-b3bf8c49-f7392e6c-2835f3c7,
.GUNS__40-b3bf8c49-f7392e6c-2835f3c7[data-active=true]:hover {
  background: #161616 !important;
  border: 2px solid #191919 !important
}

.GUNS__40-b3bf8c49-f7392e6c-2835f3c7:hover {
  background-color: #191919 !important;
  border: 2px solid #1b1b1b !important
}

.GUNS__60-f023903c-e3a9ab6b-3c26b796 {
  padding: 8px 12px !important;
  font-size: 14.5px !important
}

.GUNS__03-e042ce7a-25c4d602-b84f8a63,
.GUNS__8e-9038e083-084dfb49-5e1d7966 {
  background-color: #111 !important;
  border: 2px solid #161616 !important;
  min-width: 200px
}

@media (max-width:480px) {

  .GUNS__03-e042ce7a-25c4d602-b84f8a63,
  .GUNS__8e-9038e083-084dfb49-5e1d7966 {
    min-width: 100%
  }
}

@media (max-width:420px) {
  .GUNS__6e-7888cafd-b8f0b2e6-cc1405b4 {
    flex-direction: column;
    gap: 10px
  }
}