.resetPassword-module__DrY0uW__containerWrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex
}

.resetPassword-module__DrY0uW__container {
  box-sizing: border-box;
  background-color: #101010;
  border: 2px solid #161616;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  padding: 25px;
  display: flex
}

.resetPassword-module__DrY0uW__container h1:not(.resetPassword-module__DrY0uW__emailGap h1),
.resetPassword-module__DrY0uW__container h3 {
  margin: 0
}

.resetPassword-module__DrY0uW__container h1:not(.resetPassword-module__DrY0uW__emailGap h1) {
  color: #fafafa;
  font-size: 23px;
  font-weight: 500
}

.resetPassword-module__DrY0uW__container h3 {
  color: #939393;
  font-size: 16px;
  font-weight: 450;
  margin-top: 4px !important
}

.resetPassword-module__DrY0uW__containerButtons {
  flex-direction: column;
  margin-top: 20px;
  display: flex
}

.resetPassword-module__DrY0uW__submitButton {
  color: #fafafa;
  cursor: pointer;
  background-color: #151515;
  border: 2px solid #191919;
  border-radius: 12px;
  align-items: center;
  width: fit-content;
  padding: 7px 15px;
  text-decoration: none;
  transition: all .2s;
  display: flex
}

.resetPassword-module__DrY0uW__submitButton svg {
  font-size: 23px
}

.resetPassword-module__DrY0uW__submitButton:active {
  transform: translateY(4px)
}

.resetPassword-module__DrY0uW__submitButton:hover {
  background-color: #181818;
  border: 2px solid #222
}

.resetPassword-module__DrY0uW__emailGap {
  box-sizing: border-box;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  margin-top: 15px;
  display: flex
}

.resetPassword-module__DrY0uW__emailGap input {
  direction: ltr !important
}

@media (max-width:560px) {
  .resetPassword-module__DrY0uW__container {
    box-sizing: border-box;
    width: 93%
  }
}

.resetPassword-module__DrY0uW__captchaWrapper {
  justify-content: center;
  width: 100%;
  display: flex
}