.resetPasswordComponent_containerWrapper__cYt6e {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh
}

.resetPasswordComponent_container__PWplD {
  background-color: #101010;
  border: 2px solid #161616;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px
}

.resetPasswordComponent_container__PWplD h1:not(.resetPasswordComponent_passwordGap__9o5Ge h1),
.resetPasswordComponent_container__PWplD h3 {
  margin: 0
}

.resetPasswordComponent_container__PWplD h1:not(.resetPasswordComponent_passwordGap__9o5Ge h1) {
  font-size: 23px;
  font-weight: 500;
  color: #fafafa
}

.resetPasswordComponent_container__PWplD h3 {
  margin-top: 4px !important;
  font-size: 16px;
  font-weight: 450;
  color: #939393
}

.resetPasswordComponent_containerButtons__8LJKP {
  margin-top: 10px;
  display: flex;
  flex-direction: column
}

.resetPasswordComponent_submitButton__Ydzuq {
  width: fit-content;
  color: #fafafa;
  text-decoration: none;
  padding: 7px 15px;
  border: 2px solid #191919;
  background-color: #151515;
  border-radius: 12px;
  transition: .2s;
  cursor: pointer;
  display: flex;
  align-items: center
}

.resetPasswordComponent_submitButton__Ydzuq svg {
  font-size: 23px
}

.resetPasswordComponent_submitButton__Ydzuq:active {
  transform: translateY(4px)
}

.resetPasswordComponent_submitButton__Ydzuq:hover {
  border: 2px solid #222222;
  background-color: #181818
}

.resetPasswordComponent_passwordGap__9o5Ge {
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 13px
}

@media(max-width:560px) {
  .resetPasswordComponent_container__PWplD {
    width: 93%;
    box-sizing: border-box
  }
}