.resetPassword_containerWrapper__aeL4w {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh
}

.resetPassword_container__XGqBp {
  background-color: #101010;
  border: 2px solid #161616;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px
}

.resetPassword_container__XGqBp h1:not(.resetPassword_emailGap__IkVbR h1),
.resetPassword_container__XGqBp h3 {
  margin: 0
}

.resetPassword_container__XGqBp h1:not(.resetPassword_emailGap__IkVbR h1) {
  font-size: 23px;
  font-weight: 500;
  color: #fafafa
}

.resetPassword_container__XGqBp h3 {
  margin-top: 4px !important;
  font-size: 16px;
  font-weight: 450;
  color: #939393
}

.resetPassword_containerButtons__XkX_q {
  margin-top: 20px;
  display: flex;
  flex-direction: column
}

.resetPassword_submitButton__5aVY2 {
  width: fit-content;
  color: #fafafa;
  text-decoration: none;
  padding: 7px 15px;
  border: 2px solid #191919;
  background-color: #151515;
  border-radius: 12px;
  transition: .2s;
  cursor: pointer;
  display: flex;
  align-items: center
}

.resetPassword_submitButton__5aVY2 svg {
  font-size: 23px
}

.resetPassword_submitButton__5aVY2:active {
  transform: translateY(4px)
}

.resetPassword_submitButton__5aVY2:hover {
  border: 2px solid #222222;
  background-color: #181818
}

.resetPassword_emailGap__IkVbR {
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 13px
}

.resetPassword_emailGap__IkVbR input {
  direction: ltr !important
}

@media(max-width:560px) {
  .resetPassword_container__XGqBp {
    width: 93%;
    box-sizing: border-box
  }
}

.resetPassword_captchaWrapper__ab2iA {
  width: 100%;
  display: flex;
  justify-content: center
}